.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
  min-width: 260px;
  height: auto;
  padding: 20px;
  justify-content: flex-start;

  .title {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      border-radius: 1000px;
      width: 13px;
      height: 13px;
      background-color: pink;
    }
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .container {
    padding: 0;
    justify-content: center;
  }
}
