.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: auto;
  padding: 20px;
  flex-wrap: wrap;

  .categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .addCategory {
    display: flex;
    gap: 5px;
    width: auto;

    input {
      width: 150px;
      height: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    flex-direction: column;

    .addCategory{
      flex-direction: column;
    }
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .container {
    flex-direction: column;

    .categories {
      gap: 50px;
    }

    .addCategory{
      flex-direction: column;
    }
  }
}
